footer {
  display: block;
  color: #ffde59;
  font-weight: bolder;
  background-color: #69cbff;
  width: 100%;
  margin-top: 2%;
  position: static;
  bottom: 0;
}

.contacto {
  margin: 1.5em;
  float: left;
  width: 2em;
}
@media screen and (max-width: 700px) {
  footer section {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
  }
}
