html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #152349;
  color: #ffde59;
  height: 100%;
}
a {
  cursor: pointer;
}
input[type="submit"] {
  border: 0;
  width: 80%;
  background-color: #152349;
  color: #ffde59;
  font-weight: bold;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #243b7c;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

main img#logo {
  height: 350px;
  object-fit: contain;
}
.ok {
  text-align: center;
  width: 100vw;
  padding: 12px;
  background-color: #1e6;
  color: #fff;
  margin-bottom: 50px;
}
.bad {
  text-align: center;
  width: 100vw;
  padding: 12px;
  background-color: #a22;
  color: #fff;
  margin-bottom: 50px;
}
#aside {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  width: 200px;
}
#registro,
#h3,
#login {
  padding: 1em;
  background: #ffde59;
  color: #152349;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
#formulario {
  display: block;
  margin: auto;
  background-color: #ffde59;
  padding: 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  color: #152349;
  margin: 1em auto;
  padding: 0.5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: white;
}
#close {
  padding: 5px;
  margin: -20px;
  float: right;
  background: #152349;
  border: 3px solid #ffde59;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    margin: 1em;
    padding: 1em;
  }
}
